<style>
    .s-level2 {
        display: none;
    }

    .promos.menu {
        text-align: center;
    }

    .promos.menu .active.item {
        color: rgba(0, 0, 0, 0.95) !important;
        font-weight: bold !important;
    }

    .promos.menu .item .label {
        width: 40px;
    }

    .promos.menu .active.item .label {
        background-color: #00B5AD !important;
        border-color: #00B5AD !important;
        color: #FFFFFF !important;
    }

    .right.bordered {
        border-right: 1px solid rgba(34, 36, 38, .15);
    }

    .search .results {
        max-height: 246px; /* for 6 search results */
        overflow-y: auto;
    }

    .promocodeProductList, .promocodeCategoryList {
        max-height: 210px; /* for 7 list items */
        overflow-y: auto;
    }

    .table-condensed .disabled {
        color: #77777769 !important;
    }

    .datepickerInput {
        text-align: center !important;
    }

</style>

<!-- Semantic CSS -->
<link rel="stylesheet" href="/wa-apps/shop/plugins/ypromos/assets/semantic-ui/semantic.css?v={$wa->version()}">

<!--<link rel="stylesheet" href="/wa-apps/shop/plugins/ypromos/assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css">-->
<link rel="stylesheet" href="/wa-apps/shop/plugins/ypromos/assets/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css">

<div class="ui padded grid" style="min-height: 72vh;">
    <div class="four wide right bordered column">

        {$promosCount = shopYpromosPluginPromoSupporter::getPromosCountByType()}
        <div class="ui secondary vertical fluid promos menu">
            <a class="item" data-tab="promo-code"> Промокод
                <div class="ui label" data-promos-count="{$promosCount['promocode']}">{$promosCount['promocode']}</div>
            </a>
            <a class="item" data-tab="promo-flash"> Специальная цена
                <div class="ui label" data-promos-count="{$promosCount['promoflash']}">{$promosCount['promoflash']}</div>
            </a>
            <a class="item" data-tab="promo-n-plus-m"> N + M
                <div class="ui label" data-promos-count="{$promosCount['promonplusm']}">{$promosCount['promonplusm']}</div>
            </a>
            <a class="item" data-tab="promo-gift"> Подарок
                <div class="ui label" data-promos-count="{$promosCount['promogift']}">{$promosCount['promogift']}</div>
            </a>
        </div>
    </div>
    <div class="twelve wide stretched column" id="promoTabsContext">
        <div class="ui promo tab" data-tab="promo-code"></div>
        <div class="ui promo tab" data-tab="promo-flash"></div>
        <div class="ui promo tab" data-tab="promo-n-plus-m"></div>
        <div class="ui promo tab" data-tab="promo-gift"></div>
    </div>
</div>

<!-- Jquery Easing  -->
<script src="/wa-apps/shop/plugins/ypromos/assets/jquery-easing/jquery.easing.1.3.js"></script>

<!-- Semantic JS -->
<script src="/wa-apps/shop/plugins/ypromos/assets/semantic-ui/semantic.min.js"></script>

<!-- Bootstrap Datepicker -->
<script src="/wa-apps/shop/plugins/ypromos/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/wa-apps/shop/plugins/ypromos/assets/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js"></script>

<!-- Plugin JS -->
<script src="/wa-apps/shop/plugins/ypromos/js/backendPromos.js?v={$wa->version()}"></script>
<script src="/wa-apps/shop/plugins/ypromos/js/backendPromocodes.js?v={$wa->version()}"></script>
<script src="/wa-apps/shop/plugins/ypromos/js/backendPromoflashes.js?v={$wa->version()}"></script>
<script src="/wa-apps/shop/plugins/ypromos/js/backendPromonplusms.js?v={$wa->version()}"></script>
<script src="/wa-apps/shop/plugins/ypromos/js/backendPromogifts.js?v={$wa->version()}"></script>